/**
 * Scrollbar styling (only in webkit)
 */

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: rgba($color-primary,0.2);;
	// background-color: darken($$color-primary, 10%);

	// display:none;

	// @include respond-min($bp-wide) {
	// display:block;
	// }
	

}

::-webkit-scrollbar-thumb {
	background: $color-secondary; // arken($color-bg, 40%);
	cursor: pointer;
	// border: 1px solid white;
	width: 10px;
	// display:none;

	// // @include respond-min($bp-wide) {
	// // display:block;
	// // }
	


}
