
// for responsive stuff use as it follows

// @include respond-min($bp-narrow) {
//  }
// @include respond-min($bp-mid) {
//  }
// @include respond-min($bp-wide) {
//  }
// @include respond-min($bp-huge) {
//  }

// $bp-narrow            : 400;  // Set in px
// $bp-mid               : 768;  // Set in px
// $bp-wide              : 992;  // Set in px
// $bp-huge              : 1600; // Set in px

.favourite-products-slideshow {

	overflow:hidden;
	white-space: nowrap;
	position:relative; 
	margin:0 60px; 
}

.arrow {
	 position:relative;
	// top:50%;
	// transform: translateY(-50%);
	z-index:10;
	border:1px solid;

	img {
		height:40px;
		position:absolute;
		top:50%;
		//  transform: translateY(-50%);
		// vertical-align: middle;
	}
}
.arrow-left {
	float:left;
}

.arrow-right {
	float:right;
	img {
		transform:rotateY(180deg);
	}
}


// marcas y artistas 
.ver-marcas-y-artistas {
	text-align:center;
	margin-bottom: 20px;
}

.marcas-artistas {
	text-align:center;
	padding: 0;
	margin:0;
}


.offer-products-text {
	text-align:center;
	font-family:"Montserrat-Light";
	background-color:white;
	width:60%;
	height:60%;
	top:20%;
	left:20%;
	position:absolute;
	display:inline-block;
	padding-top: 14%;
}

bold {
	font-family: "Montserrat-Regular";	
}

.marcas-list {
	text-align: center;
	li {
		display: inline;
	}
}

.square-list {
	position:relative;
	width:200px;
	height:200px;
	display:inline-block;
	text-align:center;
	background-color:$color-highlight;
}

 

// home



.category-avatar {
	height:200px;
	background-color:$color-highlight;
	display:inline-block;
	margin:10px;
	font-size:0.8em;

}

//  helpers columns

.one-column {
	width:100%;
}

.two-column {
	width:47%;
}

.three-column {
	width:30%;
}
// background colours 
.bg-primary {

	background-color:$color-primary;
}

.bg-secondary {

	background-color:$color-secondary;
}

.bg-light-gray {

	background-color:$color-highlight;
}

.bg-dark-gray {
	background-color:$color-darklight;
}

.bg-gray-gradient {

	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 100%);
}


.bg-gray-gradient-inverted {

	background: linear-gradient(to bottom, rgba(0,0,0,0.1) 100%,rgba(255,255,255,0) 0%);
}


.login-box-icon-svg {
	width:30px;
}

// slideshow product

.item-name {
	font-family:"Montserrat-Light";
	margin-bottom:0;


}

.item-price {
	font-family:"Montserrat-Regular";
	margin:0;

}

.item-brand {
	font-family:"Montserrat-Hairline";
	margin:0;
	color:$color-secondary;
}



.feature-product {
	margin: 0 auto;
	padding-top:100px;

}

.favourite-box-icon {
	width:30px;
	display: inline-block;
	// transform:translateY(10px);
	position:absolute;
	top:5px;
	right:5px;
	z-index:20;
}
.favourite-slideshow-container {
	
}


.favourite-product {
	width:250px;
	padding:0 25px;
	position:relative;
	display:inline-block;

	.item-name {
		font-size: .7em;
	}

	.item-price {
		font-size: .5em;

	}

	.item-brand {
		font-size: .5em;
	}

	&:hover {
		background-color:$color-highlight;
		transition:all 1s;
	}
}

.slideshow {

	height:500px;
	text-align: center;
}


.product-image {
	width:40%;
	max-width:400px;
	float:none;
}

.product-image-favourite {

	width:300px;
	display:block;
}
.product-info-favourite {
	display:inline-block;
	text-align: center;
	width:100%;
	z-index:20;
}


.slideshow-product {
}

.buy-button {
	background-color:transparent;
	border:2px solid $color-secondary;
	color: $color-secondary;
	padding:5px 10px;
	font-size:0.7em;
}

.product-info {
	display:inline-block;
	text-align: left;
	width:20%;
    vertical-align: top;
    padding-top: 100px;
}

/// footer

.logo-tsf {
    float: right;
    width: 140px;
    margin-top: 10px;
}

.footer-top {
	padding: 50px 0;
}

.newsletter-subscribe-button {
	width:20%;
	height:100%;
	text-transform:uppercase;
}


.newsletter-subscribe-box {

	margin: 0 auto;
	width:60%;
	padding:0;
	height:40px;
}


.newsletter-subscribe {
	border:$color-darksidegray 1px solid;
	background-color:transparent;
	width:79%;
	margin:0;
	padding:0;
	height:100%;
}

.newsletter-title {
	font-family: 'Montserrat-Regular';
	color:$color-secondary;
	margin-bottom: 20px;
	font-size:1em;
}

.newsletter-subtitle {
	font-family: 'Montserrat-Regular';
	font-size:0.7em;
	color:$color-primary;

}

.footer-list {
	width: 50%;
	display:inline-block;
	font-family: 'Montserrat-Light';
	font-size: 0.7em;
	position:absolute;
	top: 0;
	right:0;

	li {
		display: inline;
	}

}


.footer-links {

	padding-top:12px;
	text-align:left;

	li {
		list-style-type: none;
		font-family: 'Montserrat-Light';
		font-size: 0.7em;
	}
}

.social-icons {
	margin-top:20px;
}

.social-link {
	display:inline;
	padding:5px;
	img {
		width:50px;
	}
}




.footer-logos {
	display:inline-block;
	position:relative;
	width:50%;
	height:100%;
	float: right;
}


.footer-shield {

	width: 100px;

}

.footer-menu {

	background-color:$color-highlight;
	height:100%;
	width:100%;
	padding:25px;

}
.footer-nav {

	width:50%;
	display: inline-block;
}

.logo-footer-shield {

	display:inline-block;
	width: 120px;
	float: left;

}



.footer-endline {

    padding: 25px 50px;
	width:100%;
	height:60px;
	background-color:$color-darklight;
	h3 {
		font-family: 'Montserrat-Light';
		text-transform: uppercase;
		font-size: 0.5em;
		text-align: left;
		padding: auto;
	}
}

footer {

    font-family: 'Montserrat-Light';
	// UNCOMENT THIS TO MAKE THE FOOTER VISIBLE
	// display:none;
	text-align: center;
	width: 100%;
	overflow:visible;
	position:relative;
}


// global

body, html {
	margin: 0;
	// overflow: hidden;
	transition: opacity 400ms;
	width:100%;

}


h4 {
	text-align:center;
	padding: 20px;
	font-size:1.2em;
}

h3 {
	font-family:"Montserrat-Light";
	color: $color-primary;
	font-size:0.9em;
	text-transform:uppercase;
}

li {
	list-style-type: none;
}

.site-menu {
	width:100%;
	border-top:1px $color-highlight solid;
	display: flex; 
	justify-content: space-between;
	padding: 0 30px; 
}

.menu-btn {

	font-family: 'Montserrat-Hairline';
	text-transform: uppercase;
	color:$color-primary;

	}


/// header 

/// login box 
.login-box {

	float: right;
	margin: 25px 50px 0px 0px;
	// border: 1px solid red;

}
.login-box-icon {
	width:35px;
	display: inline-block;
	transform:translateY(10px);
}
.login-text {
	font-family: 'Montserrat-Hairline';
	color:$color-primary;
	cursor:pointer;
}

/// search 
.search-box {

	float: left;
	margin: 25px 0px 0px 50px;
	// border: 1px solid red;
}
.search-box-icon {
	width:35px;
	display: inline-block;
	transform:translateY(10px);
}

.search-text {
	border:none;
	border-bottom: $color-primary 1px solid;
	background-color: transparent;
}

// logo header
.header-logo {
    display: inline-block;
    margin: 0 auto;
}

.logo-header-shield {
	padding-top:20px;
	display:block;
	width:10vw;
	margin: 0 auto;

}

.logo-header-type {

	width:15vw;
	margin: 0 auto;

}

header {

	position:fixed;
	top:0;
	height: 100px;
	text-align: center;
	width: 100%;
	margin: auto;

}
.main {
	padding-top:100px;
}

// for mutilang support
.menu-lang { 
	display:none;
	position:fixed;
	top:24px;
	right:20px;
	border-radius: 2px;
	transition: all 700ms ease-in-out;

	&:before { 

		border: 1px $color-primary solid;
	}
}


.lang-btn {

	font-size: .8em;
	color:$color-secondary;
	cursor:pointer;
	padding:8px;

	display: inline-block;
	transition: all 300ms ease-in-out;
	max-width:50px;

	&.active {
		color:$color-primary;
		border: 1px $color-primary solid;

	}
	&:hover {
		color:$color-secondary;
	}
}

.data-translatable { 
	display:none;
}


/// loader 

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  top:50%;
 }
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: $color-primary;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  transform-origin: 5.2em 5.1em;
  animation: load2 2s infinite ease 1.5s;
}
.loader {

  color: $color-highlight;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  transform: translateZ(0)translateY(-100%);

}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: $color-primary;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  transform-origin: 0px 5.1em;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}


.curtain { 

	background-color: $color-primary;
	width:100%;
	position:absolute;
	height:100%;
	z-index:1000;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:1;
	transition:none;
}

// helpers 


.is-hidden { 

	display: none;
	opacity:0;
}

.is-fading-out { 

	transition: all 700ms ease-out;
	opacity:0;
}
.is-fading-in { 

	animation: animFadeIn 700ms ease-out;
	animation-fill-mode: forwards;
	backface-visibility: hidden;
}

/*   fade in */
@keyframes animFadeIn {
	0%   {opacity:0;  }
	100% {opacity:1; }
}

/*   fade in */
@keyframes animFadeOut {
	0%   {opacity:1;  }
	100% {opacity:0; }
}


@keyframes fadeOut {
	from {opacity:1;}
	to {opacity:0;
	}
}

@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;
	}
}
